<md-content md-theme="light" class="md-padding" layout-xs="column" layout="row">

    <md-card flex md-theme-watch layout="row" layout-wrap
             layout-padding style="background-color: #ECEFF1;">
        <div flex="50">
            <label  ng-show=" currentUser.type=='admin' "  >Partner</label>
            <md-select ng-show=" currentUser.type=='admin' " placeholder="Partner" ng-model="filter.PartnerCode"
                       style="min-width: 200px;">
                <md-option value="!!">All</md-option>
                <md-option ng-value="code.PartnerCode" ng-repeat="code in Partners">{{code.PartnerName}}</md-option>
            </md-select>
            <!--<p class="md-caption">selected customer: {{ user ? user.name : 'No one yet' }}</p>-->

            <md-input-container>
                <label>PO Number</label>
                <input ng-model="filter.PONumber">
            </md-input-container>
        </div>
        <div flex="50">
            <label>Status</label>
            <md-select ng-model="filter.POStatus" placeholder="Status" style="min-width: 200px;">
                <md-option value="!!">All</md-option>
                <md-option ng-repeat="st in POStatus" value="{{st.val}}">{{st.str}}</md-option>
            </md-select>

            <label>Select PO Date range</label>
            <md-select ng-model="range" ng-model-options="{trackBy: '$value.date'}"
                       placeholder="Select PO Date range" style="min-width: 200px;">
                <md-option ng-repeat="date in dateRange" value="{{date.date}}">{{date.name}}</md-option>
            </md-select>

        </div>
        <md-card-actions layout="row" layout-align="start center">
            <md-button
                    ng-click="loadPOHeader({PONumber:filter.PONumber,dateRange:range,PartnerCode:filter.PartnerCode,status:filter.POStatus})">
                Run
            </md-button>
            <md-button ng-json-export-excel data="posHeader"
                       report-fields="{PONumber: 'PO Number', PartnerName: 'Partner', PODate: 'Order Date',Division: 'Division data',OrderType: 'Order Type',PartnerCode: 'Partner Code',ShipToName: 'Ship to Name',POStatus: 'Status'}"
                       filename="'MyPOs'" separator=","> Export
            </md-button>
        </md-card-actions>

    </md-card>

    <md-card flex="30" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch layout-margin
             style="background-color: #B3E5FC;">
        <md-card-header style="background-color: #29B6F6;">
            <md-card-header-text>
                <span class="md-title">My PO Summary:</span>
            </md-card-header-text>
        </md-card-header>

        <md-card-content>
            <div layout="row" layout-align="center center">
                <p flex="50">Pending:</p><h4 flex="50" class="md-secondary">{{ (posHeader|
                filter:{POStatus:'Pending'}).length }}</h4>
            </div>
            <div layout="row" layout-align="center center">
                <p flex="50">Accepted:</p><h4 flex="50" class="md-secondary">{{ (posHeader|
                filter:{POStatus:'Accepted'}).length }}</h4>
            </div>
            <div layout="row" layout-align="center center">
                <p flex="50">Invoiced:</p><h4 flex="50" class="md-secondary">{{ (posHeader|
                filter:{POStatus:'Invoiced'}).length }}</h4>
            </div>
            <div layout="row" layout-align="center center">
                <p flex="50">Rejected:</p><h4 flex="50" class="md-secondary">{{ (posHeader|
                filter:{POStatus:'Rejected'}).length }}</h4>
            </div>
            <div layout="row" layout-align="center center">
                <p flex="50">UnderReview:</p><h4 flex="50" class="md-secondary">{{ (posHeader|
                filter:{POStatus:'UnderReview'}).length }}</h4>
            </div>
        </md-card-content>
    </md-card>
</md-content>

<md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
    <div class="md-toolbar-tools">
        <span>My POs</span>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="loadStuff()">
            <md-icon>refresh</md-icon>
            <md-tooltip>
                reload all POs
            </md-tooltip>
        </md-button>
    </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length"
            style="background-color: #ECEFF1; color: #757575;">
    <div class="md-toolbar-tools">
        <span>{{selected.length}} {{selected.length > 1 ? 'POs' : 'Po'}} selected</span>
        <div flex></div>

        <md-button class="md-warn" ng-show="selected[0].POStatus=='Pending'" ng-click="Accept(selected)">
            <div class="md-tile-content">Accept</div>
            <md-tooltip>
                Accept
            </md-tooltip>
        </md-button>

        <md-button class="md-warn" ng-show="selected[0].POStatus=='Pending'" ng-click="Change($event,selected)">
            <div class="md-tile-content">Change</div>
            <md-tooltip>
                Change
            </md-tooltip>
        </md-button>
    </div>
</md-toolbar>

<md-table-container>

    <table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}"
           ng-model="selected" md-progress="promise">

        <thead md-head md-order="query.order" md-on-reorder="logOrder">
        <tr md-row>
            <th md-column class="poHeader" ng-repeat="column in columns">
                <span>{{column.name}}</span>
            </th>
        </tr>
        </thead>

        <tbody md-body>

        <!--<tr md-row md-select="item" md-on-select="logItem" md-auto-select="options.autoSelect"
            ng-repeat="item in posHeader| limitTo: query.limit : (query.page - 1) * query.limit">
        -->
        <tr class="poCell" md-row md-select="item" md-on-select="logItem" md-auto-select="options.autoSelect"
            ng-repeat="item in posHeader | filter:filter | limitTo: query.limit : (query.page - 1) * query.limit ">
            <td md-cell>
                <md-button class="md-icon-button" ng-click="getPODetails({PONumber:item.PONumber})">
                    <md-icon>visibility</md-icon>
                    <md-tooltip>
                        show Po details
                    </md-tooltip>
                </md-button>
            </td>
            <td md-cell>{{item.PONumber}}</td>
            <td md-cell width="80%">{{item.PartnerName}}</td>
            <td md-cell width="100%">{{item.PODate | date:'yyyy-dd-MM'}}</td>
            <td md-cell>{{item.Division}}</td>
            <td md-cell>{{item.OrderType}}</td>
            <td md-cell>{{item.PartnerCode}}</td>
            <td md-cell width="100%">{{item.ShipToName}}</td>
            <!--<td>{{item.POERPStatus}}</td>-->
            <td class="poHeader">{{item.POStatus}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>


<data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page"
                          md-total="{{posHeader.length}}" md-on-paginate="onPaginate"
                          md-page-select="options.pageSelect"
                          md-boundary-links="options.boundaryLinks"></data-md-table-pagination>