<md-content md-theme="light" class="md-padding" layout="row" layout-sm="column">

  <div layout="column" layout-align="center center">
    <md-select placeholder="Customer" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
      <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
    </md-select>
    <!--<p class="md-caption">selected customer: {{ user ? user.name : 'No one yet' }}</p>-->

    <md-input-container>
      <label>PO Number</label>
      <input ng-model="user.ponumber">
    </md-input-container>

    <md-select placeholder="Status" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
      <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
    </md-select>

  </div>

</md-content>


<md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
  <div class="md-toolbar-tools">
    <span>My POs</span>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="loadStuff()">
      <md-icon>refresh</md-icon>
    </md-button>
    <md-button class="md-icon-button">
      <md-icon>filter_list</md-icon>
    </md-button>
    <md-button class="md-icon-button">
      <md-icon>more_vert</md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
  <div class="md-toolbar-tools">
    <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
    <span flex></span>
    <md-button class="md-icon-button">
      <md-icon>delete</md-icon>
    </md-button>
  </div>
</md-toolbar>