<div layout="column">
    <md-toolbar class="md-table-toolbar md-default" style="background-color: #ECEFF1; color: #757575;">
        <div class="md-toolbar-tools">
            <span>Order Information:</span>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table style="background-color: #ECEFF1;">
            <thead md-head style="background: #29B6F6;">
            <tr md-row>
                <th md-column>PO Number</th>
                <th md-column>Partner</th>
                <th md-column>Order Date</th>
                <th md-column>Division data</th>
                <th md-column>Order Type</th>
                <th md-column>Partner Code</th>
                <th md-column>Ship to Name</th>
                <th md-column>Status</th>
            </tr>
            </thead>

            <tbody md-body>
            <tr md-row>
                <td md-cell>{{POdetails[0].PONumber}}</td>
                <td md-cell>{{POdetails[0].PartnerName}}</td>
                <td md-cell>{{POdetails[0].PODate | date:'yyyy-dd-MM'}}</td>
                <td md-cell>{{POdetails[0].Division}}</td>
                <td md-cell>{{POdetails[0].OrderType}}</td>
                <td md-cell>{{POdetails[0].PartnerCode}}</td>
                <td md-cell>{{POdetails[0].ShipToName}}</td>
                <td md-cell>{{POdetails[0].POStatus}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <br>
    <!---->
    <md-toolbar class="md-table-toolbar md-default" style="background-color: #ECEFF1; color: #757575;">
        <div class="md-toolbar-tools">
            <span>PO Details:</span>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-row-select="_pd_options.rowSelection" multiple="{{_pd_options.multiSelect}}"
               md-progress="_pd_promise" style="background-color: #ECEFF1;">
            <thead ng-if="!_pd_options.decapitate" md-head md-order="_pd_query.order" md-on-reorder="_pd_logOrder" style="background: #29B6F6;">
            <tr md-row>
                <th md-column ng-repeat="column in girdPoDetails">
                    <span>{{column.name}}</span>
                </th>
            </tr>
            </thead>

            <tbody md-body>
            <tr md-row
                ng-repeat="PO_dt in POdetails[0].podetails | limitTo: _pd_query.limit : (_pd_query.page -1) * _pd_query.limit">
                <td md-cell>{{PO_dt.ItemCode}}</td>
                <td md-cell>{{PO_dt.Description}}</td>
                <td md-cell>{{PO_dt.WarehouseCode}}</td>
                <td md-cell>{{PO_dt.PartnerPONumber}}</td>
                <td md-cell>{{PO_dt.UnitofMeasure}}</td>
                <td md-cell>{{PO_dt.QuantityOrdered}}</td>
                <td md-cell>{{PO_dt.QuantityBackordered}}</td>
                <td md-cell>{{PO_dt.QuantityInvoiced}}</td>
                <td md-cell>{{PO_dt.UnitCost}}</td>
                <td md-cell>{{PO_dt.Total}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>


    <md-table-pagination md-limit="_pd_query.limit" md-limit-options="_pd_limitOptions" md-page="_pd_query.page"
                         md-total="{{POdetails[0].podetails.length}}" md-page-select="_pd_options.pageSelect"
                         md-boundary-links="_pd_options.boundaryLinks"
                         md-on-paginate="_pd_logPagination"></md-table-pagination>


    <!---->

    <!--
    <section flex class="md-whiteframe-1dp">
        <md-content class="md-padding" layout="row" layout="column">
            <div class="table-responsive-vertical">
                <h2 class="md-title">PO Details:</h2>
                <table id="table3" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Line</th>
                        <th>Item Code</th>
                        <th>Description</th>
                        <th>Warehouse code</th>
                        <th>Partner PO Number</th>
                        <th>Unit of measure</th>
                        <th>Quantity Ordered</th>
                        <th>Quantity backordered</th>
                        <th>Quantity invoiced</th>
                        <th>Unit Cost</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <tr ng-repeat="PO_dt in POdetails[0].podetails">
                        <td>{{PO_dt.poheaderId}}</td>
                        <td>{{PO_dt.ItemCode}}</td>
                        <td>{{PO_dt.Description}}</td>
                        <td>{{PO_dt.WarehouseCode}}</td>
                        <td>{{PO_dt.PartnerPONumber}}</td>
                        <td>{{PO_dt.UnitofMeasure}}</td>
                        <td>{{PO_dt.QuantityOrdered}}</td>
                        <td>{{PO_dt.QuantityBackordered}}</td>
                        <td>{{PO_dt.QuantityInvoiced}}</td>
                        <td>{{PO_dt.UnitCost}}</td>
                        <td>{{PO_dt.Total}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-content>
    </section>
-->

    <md-list style="background-color: #ECEFF1; color: #000; margin-bottom: 10px;" class="md-actions" ng-show="POdetails[0].invoicefiles.length>0">
        <md-subheader style="background: #29B6F6; color: #000; font-size:14px; font-weight: 700;" class="md-no-sticky">Invoice Attachments</md-subheader>
        <md-list-item ng-repeat="file in POdetails[0].invoicefiles">
            <p> {{file.filename}}
                <a
                        href="http://localhost:3000/api/po/invoice/file/{{file.path}}/{{file.filename}}">
                    <md-icon>file_download</md-icon>
                </a>
            </p>
        </md-list-item>
    </md-list>

    <!---->
    <md-toolbar ng-show="POdetails[0].POStatus=='UnderReview'|| POdetails[0].POStatus=='Invoiced' "
                class="md-table-toolbar md-default"  style="background-color: #ECEFF1; color: #757575;">
        <div class="md-toolbar-tools">
            <span>Invoice Lines:</span>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-table-container ng-show="POdetails[0].POStatus=='UnderReview'|| POdetails[0].POStatus=='Invoiced' ">
        <table md-table md-row-select="_inv_options.rowSelection" multiple="{{_inv_options.multiSelect}}"
               md-progress="_inv_promise" style="background-color: #ECEFF1;">
            <thead ng-if="!_inv_options.decapitate" md-head md-order="_inv_query.order" md-on-reorder="_inv_logOrder" style="background: #29B6F6;">
            <tr md-row>
                <th md-column ng-repeat="column in girdInvoiceLines">
                    <span>{{column.name}}</span>
                </th>
            </tr>
            </thead>

            <tbody md-body>
            <tr md-row
                ng-repeat="line in InvoiceLines | limitTo: _inv_query.limit : (_inv_query.page -1) * _inv_query.limit">

                <td md-cell>{{line.InvoiceNumber}}</td>
                <td md-cell>{{line.PartnerCode}}</td>
                <td md-cell>{{line.phoneNumber}}</td>
                <td md-cell>{{line.InvoiceDate}}</td>
                <td md-cell>{{line.PurchaseOrder}}</td>
                <td md-cell>{{line.ContactEmail}}</td>
                <!--<td md-cell>{{line.QuantityInvoiced}}</td>-->
                <td md-cell>{{line.Total}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>


    <md-table-pagination ng-show="POdetails[0].POStatus=='UnderReview'|| POdetails[0].POStatus=='Invoiced' "
                         md-limit="_inv_query.limit" md-limit-options="_inv_limitOptions" md-page="_inv_query.page"
                         md-total="{{InvoiceLines.length}}" md-page-select="_inv_options.pageSelect"
                         md-boundary-links="_inv_options.boundaryLinks"
                         md-on-paginate="_inv_logPagination"></md-table-pagination>

    <!---->

    <div class="md-actions" layout="row" layout-align="start center">

        <md-button class="md-raised" ng-show="POdetails[0].POStatus=='UnderReview' && currentUser.type=='admin'"
                   ng-click="Approved(POdetails)">
            <div class="md-tile-content">Approve and Mark Invoiced</div>
            <md-tooltip>
                Approve and Mark Invoiced
            </md-tooltip>
        </md-button>

        <md-button class="md-raised" ng-show="POdetails[0].POStatus=='Accepted'" ng-click="AcknowledgeInvoice($event)">
            <div class="md-tile-content">Invoice</div>
            <md-tooltip>
                Acknowledge and invoice
            </md-tooltip>
        </md-button>

        <md-button class="md-raised" ng-click="TimeLine($event)">
            <div class="md-tile-content">Actions History</div>
            <md-tooltip>
                View Actions History
            </md-tooltip>
        </md-button>
    </div>
</div>

<script type="text/ng-template" id="invoice.tmpl.html">
    <md-dialog ng-controller="InvoiceController" aria-label="Acknowledge and invoice">
        <form name="projectForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>invoice</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-card>
                    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
                        <md-content flex="70">
                            <p>TO</p>
                            <p>r-pac International Coraporation</p>
                            <p>132 West 36th street</p>
                            <p>New York,NY 10018</p>
                            <p>USA</p>
                        </md-content>

                        <md-content flex="30" layout="column">
                            <md-input-container>
                                <label>Inovice number</label>
                                <input required name="InvoiceNumber" type="text" ng-model="invoice.InvoiceNumber"
                                       ng-disabled="invoicePreview.isDisabled">
                                <span class="error" ng-show="projectForm.InvoiceNumber.$error.required">
                                    InvoiceNumber can not be empty
                                </span>
                            </md-input-container>
                            <md-input-container>
                                <label>Invoice date</label>
                                <md-datepicker ng-model="invoice.InvoiceDate"
                                               ng-disabled="invoicePreview.isDisabled"></md-datepicker>
                            </md-input-container>
                            <md-input-container>
                                <label>Purchase Order</label>
                                <input ng-model="invoice.PurchaseOrder" type="text" ng-disabled="true">
                            </md-input-container>
                            <md-input-container>
                                <label>Phone Number</label>
                                <input required name="PhoneNumber" ng-model="invoice.phoneNumber" type="text"
                                       ng-disabled="invoicePreview.isDisabled">
                                <span class="error" ng-show="projectForm.PhoneNumber.$error.required">
                                    Phone Number can not be empty
                                </span>
                            </md-input-container>
                            <md-input-container>
                                <label>contact(email)</label>
                                <input required name="email" ng-model="invoice.ContactEmail" type="email"
                                       ng-disabled="invoicePreview.isDisabled">
                                 <span class="error" ng-show="projectForm.email.$error.required">
                                    Contact Email can not be empty
                                </span>
                            </md-input-container>
                        </md-content>
                    </md-content>

                </md-card>

                <md-content layout-padding="">

                    <table class="table table-hover" style="background-color: #ECEFF1;">
                        <thead style="background: #29B6F6;">
                        <tr>
                            <th>Item Code</th>
                            <th>Description</th>
                            <th>Unit of measure</th>
                            <th>Quantity Ordered</th>
                            <th>Quantity backordered</th>
                            <th>Quantity invoiced</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in invoice.podetails_invoice">

                            <!--<td><input type="text" ng-model="item.ItemCode" class="form-control"/></td>
                            <td><input type="text" ng-model="item.Description" class="form-control"/></td>
                            <td><input type="text" ng-model="item.WarehouseCode" class="form-control"/></td>
                            <td><input type="text" ng-model="item.PartnerPONumber" class="form-control"/></td>
                            <td><input type="text" ng-model="item.UnitofMeasure" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityOrdered" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityBackordered" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityInvoiced" class="form-control"/></td>
                            <td><input type="text" ng-model="item.UnitCost" class="form-control"/></td>
                            <td><input type="text" ng-model="item.Total" class="form-control"/></td>
                            -->
                            <td>{{item.ItemCode}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.UnitofMeasure}}</td>
                            <td>{{item.QuantityOrdered}}</td>
                            <td>{{item.QuantityBackordered}}</td>
                            <td>

                                <ng-form name="qty">
                                    <input type="text" name="QuantityInvoiced"
                                           ng-model="item.QuantityInvoiced"
                                           ng-required="true"
                                           value="item.QuantityOrdered" 
                                           class="form-control"
                                           ng-class="qty.QuantityInvoiced.$error.validPercentage ? 'has-error' : '' "
                                           ng-disabled="invoicePreview.isDisabled"
                                           ng-change="valueChanged(qty,item.QuantityInvoiced,item.QuantityOrdered)">
                                    <span class="error" ng-show="qty.QuantityInvoiced.$error.validPercentage">
                                        The value should be within range -5% below or +5% above the original QTY.
                                    </span>
                                </ng-form>
                            </td>

                            <td>{{item.Total}}</td>

                            <!--
                            <td>{{item.QuantityInvoiced}}</td>
                            <td><input type="text" ng-model="item.QuantityInvoiced" class="form-control"
                                       ng-required="true" ng-disabled="invoicePreview.isDisabled"/></td>
                            <td><input type="text" ng-model="item.Total" class="form-control"
                                       ng-required="true" ng-disabled="invoicePreview.isDisabled"/></td>-->
                            <td>
                            </td>
                        </tr>

                        <tr ng-repeat="item in invoice.podetails">

                            <!--<td><input type="text" ng-model="item.ItemCode" class="form-control"/></td>
                            <td><input type="text" ng-model="item.Description" class="form-control"/></td>
                            <td><input type="text" ng-model="item.WarehouseCode" class="form-control"/></td>
                            <td><input type="text" ng-model="item.PartnerPONumber" class="form-control"/></td>
                            <td><input type="text" ng-model="item.UnitofMeasure" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityOrdered" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityBackordered" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityInvoiced" class="form-control"/></td>
                            <td><input type="text" ng-model="item.UnitCost" class="form-control"/></td>
                            <td><input type="text" ng-model="item.Total" class="form-control"/></td>
                            -->
                            <td>{{item.ItemCode}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.UnitofMeasure}}</td>
                            <td><input type="text" ng-model="item.QuantityOrdered" class="form-control"
                                       ng-required="true" ng-disabled="invoicePreview.isDisabled"/></td>
                            <td>{{item.QuantityBackordered}}</td>
                            <td><input type="text" ng-model="item.QuantityInvoiced" class="form-control"
                                       ng-required="true" ng-disabled="invoicePreview.isDisabled"/></td>
                            <td>
                                <input type="text" ng-change="UnderReview()" ng-model="item.Total" ng-currency min="1"
                                       max="99999" fraction="3"
                                       ng-required="true" ng-disabled="invoicePreview.isDisabled"/>
                            </td>

                            <td>
                                <button type="button" class="btn btn-danger" ng-click="remove($index)"
                                        ng-disabled="invoicePreview.isDisabled">
                                    remove
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary" ng-click="addHandling()"
                                        ng-disabled="invoicePreview.isDisabled">Add
                                    Handling Charge
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" ng-click="addFreight()"
                                        ng-disabled="invoicePreview.isDisabled">Add
                                    Freight Charge
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <md-content layout="row" layout-align="space-around center">
                        <!--    <choose-file flex="25" layout="row" ng-disabled="invoicePreview.isDisabled">
                                <input id="fileInput" type="file" class="ng-hide" multiple>
                                <md-input-container flex class="md-block">
                                    <input type="text" disabled>
                                    <div style="position: absolute;left: 5px;right: auto; bottom: 0px; font-size: 14px;line-height: 14px;transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);color: grey; ">
                                        Select your file / Only PDF files allowed.
                                    </div>
                                </md-input-container>
                                <div>
                                    <md-button id="uploadButton" class="md-fab md-mini">
                                        <md-icon class="material-icons">attach_file</md-icon>
                                    </md-button>
                                </div>
                            </choose-file>-->

                        <form>
                            <input type="file" ngf-select ng-model="filesList" name="filesList" multiple
                                   accept="application/pdf" ngf-max-size="10MB"/>
                            <!--<button type="submit" ng-click="up.submit()">Upload</button>
                            -->
                        </form>

                        <div flex="40">
                            <table>
                                <tr ng-repeat="file in filesList">
                                    <td>{{$index+1}} -</td>
                                    <td>{{file.name}}</td>
                                    <td ng-click="removeFile($index)">
                                        <md-icon>close</md-icon>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div flex="35" layout="row" style="border-bottom: 1px solid black;  box-shadow: 0 1px 0 black;">

                            <h3>Total USD: </h3>
                            <h3 style="margin-left:5%">{{total()}}</h3>
                        </div>
                    </md-content>
                </md-content>

            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button class="md-raised" ng-click="discard()" md-autofocus>
                    discard
                </md-button>

                <span flex></span>
                <md-button class="md-raised" ng-show="!invoicePreview.isDisabled" ng-click="preview()">
                    Preview
                </md-button>

                <md-button class="md-raised" ng-show="invoicePreview.isDisabled" ng-click="unpreview()">
                    Undo
                </md-button>

                <md-button class="md-raised" type="submit" ng-click="sendInvoice()">
                    Send
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>

<style>
    .has-error {
        border-color: #E75753 !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    }

    .error {
        color: #E75753 !important;
    }

    /* ================ The Timeline ================ */
    md-toast.md-success-toast-theme .md-toast-content {
        background-color: green;
    }

    md-toast.md-error-toast-theme .md-toast-content {
        background-color: #E75753;
        font-size: 17px;
        font-weight: 500;
        color: #ffffff;
    }

    md-toast.md-center {
        left: 50%;
        transform: translate3d(-50%, 0, 0);
    }

    .timeline {
        position: relative;
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 1em 0;
        list-style-type: none;
    }

    /*   .timeline:before {
           position: absolute;
           left: 50%;
           top: 0;
           content: ' ';
           display: block;
           width: 6px;
           height: 100%;
           margin-left: -3px;
           background: rgb(80, 80, 80);
           background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
           background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
           background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
           background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
           background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
           background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);

           z-index: 5;
       }*/

    .timeline li {
        padding: 1em 0;
    }

    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .direction-l {
        position: relative;
        width: 300px;
        float: left;
        text-align: right;
    }

    .direction-r {
        position: relative;
        width: 300px;
        float: right;
    }

    .flag-wrapper {
        position: relative;
        display: inline-block;

        text-align: center;
    }

    .flag {
        position: relative;
        display: inline;
        background: rgb(248, 248, 248);
        padding: 6px 10px;
        border-radius: 5px;
        font-weight: 600;
        text-align: left;
    }

    .direction-l .flag {
        -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    }

    .direction-r .flag {
        -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
    }

    /*  .direction-l .flag:before,
      .direction-r .flag:before {
          position: absolute;
          top: 50%;
          right: -40px;
          content: ' ';
          display: block;
          width: 12px;
          height: 12px;
          margin-top: -10px;
          background: #fff;
          border-radius: 10px;
          border: 4px solid rgb(255, 80, 80);
          z-index: 10;
      }
  */
    .direction-r .flag:before {
        left: -40px;
    }

    .direction-l .flag:after {
        content: "";
        position: absolute;
        left: 100%;
        top: 50%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: rgb(248, 248, 248);
        border-width: 8px;
        pointer-events: none;
    }

    .direction-r .flag:after {
        content: "";
        position: absolute;
        right: 100%;
        top: 50%;
        height: 0;
        width: 0;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: rgb(248, 248, 248);
        border-width: 8px;
        pointer-events: none;
    }

    .time-wrapper {
        display: inline;

        line-height: 1em;
        font-size: 1.2em;
        color: rgb(250, 80, 80);
        vertical-align: middle;
    }

    .direction-l .time-wrapper {
        float: left;
    }

    .direction-r .time-wrapper {
        float: right;
    }

    .time {
        display: inline-block;
        padding: 4px 6px;
        background: rgb(248, 248, 248);
    }

    .desc {
        margin: 1em 0.75em 0 0;

        font-size: 1.2em;
        font-style: italic;
        line-height: 1.5em;
    }

    .direction-r .desc {
        margin: 1em 0 0 0.75em;
    }

    /* ================ Timeline Media Queries ================ */

    @media screen and (max-width: 660px) {

        .timeline {
            width: 100%;
            padding: 4em 0 1em 0;
        }

        .timeline li {
            padding: 2em 0;
        }

        .direction-l,
        .direction-r {
            float: none;
            width: 100%;

            text-align: center;
        }

        .flag-wrapper {
            text-align: center;
        }

        .flag {
            background: rgb(255, 255, 255);
            z-index: 15;
        }

        .direction-l .flag:before,
        .direction-r .flag:before {
            position: absolute;
            top: -30px;
            left: 50%;
            content: ' ';
            display: block;
            width: 12px;
            height: 12px;
            margin-left: -9px;
            background: #fff;
            border-radius: 10px;
            border: 4px solid rgb(255, 80, 80);
            z-index: 10;
        }

        .direction-l .flag:after,
        .direction-r .flag:after {
            content: "";
            position: absolute;
            left: 50%;
            top: -8px;
            height: 0;
            width: 0;
            margin-left: -8px;
            border: solid transparent;
            border-bottom-color: rgb(255, 255, 255);
            border-width: 8px;
            pointer-events: none;
        }

        .time-wrapper {
            display: block;
            position: relative;
            margin: 4px 0 0 0;
            z-index: 14;
        }

        .direction-l .time-wrapper {
            float: none;
        }

        .direction-r .time-wrapper {
            float: none;
        }

        .desc {
            position: relative;
            margin: 1em 0 0 0;
            padding: 1em;
            background: rgb(245, 245, 245);
            -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
            -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.20);

            z-index: 15;
        }

        .direction-l .desc,
        .direction-r .desc {
            position: relative;
            margin: 1em 1em 0 1em;
            padding: 1em;

            z-index: 15;
        }

    }

    @media screen and (min-width: 400px ? ? max-width:

    660px

    ) {

        .direction-l .desc,
        .direction-r .desc {
            margin: 1em 4em 0 4em;
        }

    }
</style>

<script type="text/ng-template" id="timeline.tmpl.html">
    <md-dialog ng-controller="TimeLineController"
               style="max-width: 70%;max-height: 70%;width: 70%;height: 70%; border-radius: 0;"
               aria-label="Actions Timeline">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Actions Timeline</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <ul class="timeline" ng-repeat="action in timeline">
                    <li>
                        <div ng-class-odd="'direction-r'" ng-class-even="'direction-l'">
                            <div class="flag-wrapper">
                                <span class="flag">{{action.ActionNote}}</span>
                                <span class="time-wrapper"><span
                                        class="time">{{action.createdAt | date:'MM/dd/yyyy'}}</span></span>
                            </div>
                            <div class="desc">by: {{action.user.username}}</div>
                        </div>
                    </li>

                </ul>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="discard()" md-autofocus>
                    close
                </md-button>
                <span flex></span>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
