<div layout="column">
    <section flex class="md-whiteframe-1dp">
        <md-content class="md-padding" layout="row" layout="column">
            <div class="table-responsive-vertical">
                <h2 class="md-title">Order Information:</h2>
                <table id="table" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>PO Number</th>
                        <th>Partner</th>
                        <th>Order Date</th>
                        <th>Division data</th>
                        <th>Order Type</th>
                        <th>Partner Code</th>
                        <th>Ship to Name</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{POdetails[0].PONumber}}</td>
                        <td>{{POdetails[0].PartnerName}}</td>
                        <td>{{POdetails[0].PODate | date:'yyyy-dd-MM'}}</td>
                        <td>{{POdetails[0].Division}}</td>
                        <td>{{POdetails[0].OrderType}}</td>
                        <td>{{POdetails[0].PartnerCode}}</td>
                        <td>{{POdetails[0].ShipToName}}</td>
                        <td>{{POdetails[0].POStatus}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-content>
    </section>

    <br>
    <!---->
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>PO Details:</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="_pd_loadStuff()">
                <md-icon>refresh</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-row-select="_pd_options.rowSelection" multiple="{{_pd_options.multiSelect}}"
               md-progress="_pd_promise">
            <thead ng-if="!_pd_options.decapitate" md-head md-order="_pd_query.order" md-on-reorder="_pd_logOrder">
            <tr md-row>
                <th md-column ng-repeat="column in girdPoDetails">
                    <span>{{column.name}}</span>
                </th>
            </tr>
            </thead>

            <tbody md-body>
            <tr md-row
                ng-repeat="PO_dt in POdetails[0].podetails | limitTo: _pd_query.limit : (_pd_query.page -1) * _pd_query.limit">

                <td md-cell>{{PO_dt.poheaderId}}</td>
                <td md-cell>{{PO_dt.ItemCode}}</td>
                <td md-cell>{{PO_dt.Description}}</td>
                <td md-cell>{{PO_dt.WarehouseCode}}</td>
                <td md-cell>{{PO_dt.PartnerPONumber}}</td>
                <td md-cell>{{PO_dt.UnitofMeasure}}</td>
                <td md-cell>{{PO_dt.QuantityOrdered}}</td>
                <td md-cell>{{PO_dt.QuantityBackordered}}</td>
                <td md-cell>{{PO_dt.QuantityInvoiced}}</td>
                <td md-cell>{{PO_dt.UnitCost}}</td>
                <td md-cell>{{PO_dt.Total}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>


    <md-table-pagination md-limit="_pd_query.limit" md-limit-options="_pd_limitOptions" md-page="_pd_query.page"
                         md-total="{{POdetails[0].podetails.length}}" md-page-select="_pd_options.pageSelect"
                         md-boundary-links="_pd_options.boundaryLinks"
                         md-on-paginate="_pd_logPagination"></md-table-pagination>


    <!---->

    <!--
    <section flex class="md-whiteframe-1dp">
        <md-content class="md-padding" layout="row" layout="column">
            <div class="table-responsive-vertical">
                <h2 class="md-title">PO Details:</h2>
                <table id="table3" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Line</th>
                        <th>Item Code</th>
                        <th>Description</th>
                        <th>Warehouse code</th>
                        <th>Partner PO Number</th>
                        <th>Unit of measure</th>
                        <th>Quantity Ordered</th>
                        <th>Quantity backordered</th>
                        <th>Quantity invoiced</th>
                        <th>Unit Cost</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <tr ng-repeat="PO_dt in POdetails[0].podetails">
                        <td>{{PO_dt.poheaderId}}</td>
                        <td>{{PO_dt.ItemCode}}</td>
                        <td>{{PO_dt.Description}}</td>
                        <td>{{PO_dt.WarehouseCode}}</td>
                        <td>{{PO_dt.PartnerPONumber}}</td>
                        <td>{{PO_dt.UnitofMeasure}}</td>
                        <td>{{PO_dt.QuantityOrdered}}</td>
                        <td>{{PO_dt.QuantityBackordered}}</td>
                        <td>{{PO_dt.QuantityInvoiced}}</td>
                        <td>{{PO_dt.UnitCost}}</td>
                        <td>{{PO_dt.Total}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-content>
    </section>
-->

    <md-list class="md-actions" ng-show="POdetails[0].invoicefiles.length>0">
        <md-subheader class="md-no-sticky">Invoice Attachments</md-subheader>
        <md-list-item ng-repeat="file in POdetails[0].invoicefiles">
            <p> {{file.filename}}
                <a
                        href="http://localhost:3000/api/po/invoice/file/{{file.path}}/{{file.filename}}">
                    <md-icon>file_download</md-icon>
                </a>
            </p>
        </md-list-item>
    </md-list>

    <div class="md-actions" layout="row" layout-align="start center">

        <md-button class="md-warn" ng-show="POdetails[0].POStatus=='UnderReview' && currentUser.type=='admin'"
                   ng-click="Approved(POdetails)">
            <div class="md-tile-content">Approved and Mark Invoice</div>
            <md-tooltip>
                Approved and Mark Invoice
            </md-tooltip>
        </md-button>

        <md-button class="md-warn" ng-show="POdetails[0].POStatus=='Accepted'" ng-click="AcknowledgeInvoice($event)">
            <div class="md-tile-content">Acknowledge</div>
            <md-tooltip>
                Acknowledge and invoiced
            </md-tooltip>
        </md-button>

        <md-button class="md-warn" ng-click="">
            <div class="md-tile-content">history</div>
            <md-tooltip>
                View Change History
            </md-tooltip>
        </md-button>
    </div>
</div>

<script type="text/ng-template" id="invoice.tmpl.html">
    <md-dialog ng-controller="InvoiceController" aria-label="Acknowledge and invoice">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>invoice</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-card>
                    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
                        <md-content flex="70">
                            <p>TO</p>
                            <p>r-pac International Coraporation</p>
                            <p>132 West 36th street</p>
                            <p>New York,NY 10018</p>
                            <p>USA</p>
                        </md-content>

                        <md-content flex="30" layout="column">
                            <md-input-container>
                                <label>Inovice number</label>
                                <input ng-required="true" ng-model="invoice.InvoiceNumber" type="text"
                                       ng-disabled="invoicePreview.isDisabled">
                            </md-input-container>
                            <md-input-container>
                                <label>Invoice date</label>
                                <md-datepicker ng-model="invoice.InvoiceDate"
                                               ng-disabled="invoicePreview.isDisabled"></md-datepicker>
                            </md-input-container>
                            <md-input-container>
                                <label>Purchase Order</label>
                                <input ng-model="invoice.PurchaseOrder" type="text" ng-disabled="true">
                            </md-input-container>
                            <md-input-container>
                                <label>contact(email)</label>
                                <input ng-model="invoice.ContactEmail" type="email"
                                       ng-disabled="invoicePreview.isDisabled">
                            </md-input-container>
                        </md-content>
                    </md-content>

                </md-card>

                <md-content layout-padding="">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Item Code</th>
                            <th>Description</th>
                            <th>Unit of measure</th>
                            <th>Quantity Ordered</th>
                            <th>Quantity backordered</th>
                            <th>Quantity invoiced</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>


                        <tr ng-repeat="item in invoice.podetails_invoice">

                            <!--<td><input type="text" ng-model="item.ItemCode" class="form-control"/></td>
                            <td><input type="text" ng-model="item.Description" class="form-control"/></td>
                            <td><input type="text" ng-model="item.WarehouseCode" class="form-control"/></td>
                            <td><input type="text" ng-model="item.PartnerPONumber" class="form-control"/></td>
                            <td><input type="text" ng-model="item.UnitofMeasure" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityOrdered" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityBackordered" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityInvoiced" class="form-control"/></td>
                            <td><input type="text" ng-model="item.UnitCost" class="form-control"/></td>
                            <td><input type="text" ng-model="item.Total" class="form-control"/></td>
                            -->
                            <td>{{item.ItemCode}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.UnitofMeasure}}</td>
                            <td>{{item.QuantityOrdered}}</td>
                            <td>{{item.QuantityBackordered}}</td>
                            <td><input type="text" ng-model="item.QuantityInvoiced" class="form-control"
                                       ng-required="true" ng-disabled="invoicePreview.isDisabled"/></td>
                            <td><input type="text" ng-model="item.Total" class="form-control"
                                       ng-required="true" ng-disabled="invoicePreview.isDisabled"/></td>
                            <td>
                            </td>
                        </tr>
                        <tr ng-repeat="item in invoice.podetails">

                            <!--<td><input type="text" ng-model="item.ItemCode" class="form-control"/></td>
                            <td><input type="text" ng-model="item.Description" class="form-control"/></td>
                            <td><input type="text" ng-model="item.WarehouseCode" class="form-control"/></td>
                            <td><input type="text" ng-model="item.PartnerPONumber" class="form-control"/></td>
                            <td><input type="text" ng-model="item.UnitofMeasure" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityOrdered" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityBackordered" class="form-control"/></td>
                            <td><input type="text" ng-model="item.QuantityInvoiced" class="form-control"/></td>
                            <td><input type="text" ng-model="item.UnitCost" class="form-control"/></td>
                            <td><input type="text" ng-model="item.Total" class="form-control"/></td>
                            -->
                            <td>{{item.ItemCode}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.UnitofMeasure}}</td>
                            <td><input type="text" ng-model="item.QuantityOrdered" class="form-control"
                                       ng-required="true" ng-disabled="invoicePreview.isDisabled"/></td>
                            <td>{{item.QuantityBackordered}}</td>
                            <td><input type="text" ng-model="item.QuantityInvoiced" class="form-control"
                                       ng-required="true" ng-disabled="invoicePreview.isDisabled"/></td>
                            <td>
                                <input type="text" ng-change="UnderReview()" ng-model="item.Total" ng-currency min="1"
                                       max="99999" fraction="3"
                                       ng-required="true" ng-disabled="invoicePreview.isDisabled"/>
                            </td>

                            <td>
                                <button type="button" class="btn btn-danger" ng-click="remove($index)"
                                        ng-disabled="invoicePreview.isDisabled">
                                    remove
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-primary" ng-click="addHandling()"
                                        ng-disabled="invoicePreview.isDisabled">Add
                                    Handling Charge
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" ng-click="addFreight()"
                                        ng-disabled="invoicePreview.isDisabled">Add
                                    Freight Charge
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <md-content layout="row" layout-align="space-around center">
                        <!--    <choose-file flex="25" layout="row" ng-disabled="invoicePreview.isDisabled">
                                <input id="fileInput" type="file" class="ng-hide" multiple>
                                <md-input-container flex class="md-block">
                                    <input type="text" disabled>
                                    <div style="position: absolute;left: 5px;right: auto; bottom: 0px; font-size: 14px;line-height: 14px;transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);color: grey; ">
                                        Select your file / Only PDF files allowed.
                                    </div>
                                </md-input-container>
                                <div>
                                    <md-button id="uploadButton" class="md-fab md-mini">
                                        <md-icon class="material-icons">attach_file</md-icon>
                                    </md-button>
                                </div>
                            </choose-file>-->

                        <form>
                            <input type="file" ngf-select ng-model="filesList" name="filesList" multiple
                                   accept="application/pdf" ngf-max-size="10MB"/>
                            <!--<button type="submit" ng-click="up.submit()">Upload</button>
                            -->
                        </form>

                        <div flex="40">
                            <table>
                                <tr ng-repeat="file in filesList">
                                    <td>{{$index+1}} -</td>
                                    <td>{{file.name}}</td>
                                    <td ng-click="removeFile($index)">
                                        <md-icon>close</md-icon>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div flex="35" layout="row" style="border-bottom: 1px solid black;  box-shadow: 0 1px 0 black;">

                            <h3>Total USD: </h3>
                            <h3 style="margin-left:5%">{{total()}}</h3>
                        </div>
                    </md-content>
                </md-content>

            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button ng-click="discard()" md-autofocus>
                    discard
                </md-button>

                <span flex></span>
                <md-button ng-show="!invoicePreview.isDisabled" ng-click="preview()">
                    Preview
                </md-button>

                <md-button ng-show="invoicePreview.isDisabled" ng-click="unpreview()">
                    Undo
                </md-button>

                <md-button ng-click="sendInvoice()">
                    Send
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
     