<div layout="column">
    <section flex class="md-whiteframe-1dp">
        <md-content class="md-padding" layout="row" layout="column">
            <div class="table-responsive-vertical">
                <h2 class="md-title">Order Information:</h2>
                <table id="table" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>PO Number</th>
                        <th>Partner</th>
                        <th>Order Date</th>
                        <th>Division data</th>
                        <th>Order Type</th>
                        <th>Partner Code</th>
                        <th>Ship to Name</th>
                        <th>Status data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{selectedPO.PONumber}}</td>
                        <td>{{selectedPO.PartnerName}}</td>
                        <td>{{selectedPO.PODate | date:'yyyy-dd-MM'}}</td>
                        <td>{{selectedPO.Division}}</td>
                        <td>{{selectedPO.OrderType}}</td>
                        <td>{{selectedPO.PartnerCode}}</td>
                        <td>{{selectedPO.ShipToName}}</td>
                        <td>{{selectedPO.POERPStatus}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-content>
    </section>

    <br>

    <section flex class="md-whiteframe-1dp">
        <md-content class="md-padding" layout="row" layout="column">
            <div class="table-responsive-vertical">
                <h2 class="md-title">PO Details:</h2>
                <table id="table3" class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Line</th>
                        <th>Item Code</th>
                        <th>Description</th>
                        <th>Warehouse code</th>
                        <th>Partner PO Number</th>
                        <th>Unit of measure</th>
                        <th>Quantity Ordered</th>
                        <th>Quantity backordered</th>
                        <th>Quantity invoiced</th>
                        <th>Unit Cost</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Line</td>
                        <td>{{selectedPO.ItemCode}}</td>
                        <td>{{selectedPO.Description}}</td>
                        <td>{{selectedPO.WarehouseCode}}</td>
                        <td>{{selectedPO.PartnerPONumber}}</td>
                        <td>{{selectedPO.UnitofMeasure}}</td>
                        <td>{{selectedPO.QuantityOrdered}}</td>
                        <td>{{selectedPO.QuantityBackordered}}</td>
                        <td>{{selectedPO.QuantityInvoiced}}</td>
                        <td>{{selectedPO.UnitCost}}</td>
                        <td>{{selectedPO.Total}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </md-content>
    </section>

    <div class="md-actions" layout="row" layout-align="start center">
        <md-button class="md-warn" ng-click="">
            <div class="md-tile-content">Acknowledge</div>
            <md-tooltip>
                Acknowledge and invoice
            </md-tooltip>
        </md-button>

        <md-button class="md-warn" ng-click="">
            <div class="md-tile-content">Cancel</div>
            <md-tooltip>
                Request Cancellation
            </md-tooltip>
        </md-button>
        <md-button class="md-warn" ng-click="">
            <div class="md-tile-content">Change</div>
            <md-tooltip>
                Request Changes
            </md-tooltip>
        </md-button>
        <md-button class="md-warn" ng-click="">
            <div class="md-tile-content">history</div>
            <md-tooltip>
                View Change History
            </md-tooltip>
        </md-button>
    </div>

</div>
