<md-content layout="column" layout-align="center">
    <div class='md-padding' layout="row" layout-align="start center" flex-offset-sm="0" flex-offset-md="0"
         flex-offset-lg="0" flex-offset-gt-lg="0" layout-wrap>
        <md-card class="md-whiteframe-9dp" ng-style="{'border-radius': '6px'}" style="background-color: #ECEFF1;">
            <md-card-content>
                <md-input-container>
                    <label>File Name</label>
                    <input ng-model="fileName">
                </md-input-container>

                <md-input-container>
                    <label>PO Number</label>
                    <input ng-model="PONumber">
                </md-input-container>

                <md-select ng-model="status" placeholder="Status" style="min-width: 200px;">
                    <md-option value="succeed">Success</md-option>
                    <md-option value="failed">Failed</md-option>
                </md-select>

            </md-card-content>

            <md-card-footer>
                <md-button class="md-icon-button" ng-click="">
                    <div hide-sm hide-md class="md-tile-content">
                        <i class="material-icons md-36 left">search</i>
                    </div>
                    <md-tooltip>
                        search
                    </md-tooltip>
                </md-button>
                <md-divider ng-style="{'background': '#E3E3E3'}"></md-divider>
            </md-card-footer>
        </md-card>
    </div>

    <md-toolbar class="md-table-toolbar md-default" style="background-color: #ECEFF1; color: #757575;">
        <div class="md-toolbar-tools">
            <span>Files received from ERP:</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="_f_loadStuff()">
                <md-icon>refresh</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar alternate" ng-show="_f_options.rowSelection && _f_selected.length"
                aria-hidden="false" style="">
        <div class="md-toolbar-tools layout-align-space-between-stretch" layout-align="space-between">
            <div class="md-toolbar-tools">{{_f_selected.length}} {{_f_selected.length > 1 ? 'users' : 'user'}}
                selected
            </div>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-row-select="_f_options.rowSelection" multiple="{{_f_options.multiSelect}}"
               ng-model="_f_selected" md-progress="_f_promise" style="background-color: #ECEFF1;">
            <thead ng-if="!_f_options.decapitate" md-head md-order="_f_query.order" md-on-reorder="_f_logOrder" style="background: #29B6F6;">
            <tr md-row>
                <th md-column ng-repeat="column in gridReceived">
                    <span>{{column.name}}</span>
                </th>
            </tr>
            </thead>

            <tbody md-body>
            <tr md-row md-select="item" md-on-select="_f_logItem" md-auto-select="_f_options.autoSelect"
                ng-repeat="item in receivedList | limitTo: _f_query.limit : (_f_query.page -1) * _f_query.limit">

                <!--  <tr md-row md-select="item" md-select-id="name" data-md-on-select="log" md-on-deselect="deselect"
                      x-md-auto-select="options.autoSelect"
                      data-ng-repeat="item in receivedList | limitTo: query.limit : (query.page - 1) * query.limit">
                -->
                <td md-cell>{{item.FileName}}</td>
                <td md-cell>{{item.createdAt | date:'yyyy-dd-MM'}}</td>
                <td md-cell>{{item.Status}}</td>
                <td md-cell>{{item.Status}}</td>
                <td md-cell>
                    <md-button ng-href='/api/ftp/{{item.FileNameArchived}}'>
                        <md-icon class="material-icons">archive</md-icon>
                        <div class="md-ripple-container"></div>
                        <md-tooltip>
                            download
                        </md-tooltip>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>


    <md-table-pagination md-limit="_f_query.limit" md-limit-options="_f_limitOptions" md-page="_f_query.page"
                         md-total="{{receivedList.length}}" md-page-select="_f_options.pageSelect"
                         md-boundary-links="_f_options.boundaryLinks"
                         md-on-paginate="_f_logPagination"></md-table-pagination>
</md-content>